{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ theme.url }}/css/media_page.css">
{% endblock %}
{% block content %}
  <header>
    {% if album.breadcrumb %}
    <h2>
      {% for url, title in album.breadcrumb %}
      <a href="{{ url }}">{{ title }}</a> »
      {% endfor -%}
      <a href="#">{{ media.title }}</a>
    </h2>
    <hr>
    {% endif %}
  </header>

  {% if media %}
  <div class="media">

    <div class="thumbnail">
      {% if media.type == "image" %}
        <img src="{{ media.url }}" alt="{{ media.title }}" title="{{ media.title }}" />

      {% endif %}
      {% if media.type == "video" %}
        <video controls>
          <source src='{{ media.url }}' type='video/webm' />
        </video>
      {% endif %}

    </div>

    {% if media.type == "image" %}
        {% if media.exif %}
        <div class="exif-info">
          <ul>
        {% for exif_key in media.exif.keys() | sort %}
        {% if not exif_key == 'dateobj' %}
        <li><b>{{ exif_key | capitalize }}</b>: {{ media.exif[exif_key] }}</li>
        {% endif %}
        {% endfor %}
          </ul>
        </div>
        {% endif %}
    {% endif %}

    <div class="navbtns">
      <p>
        {% if previous_media %}
        <a href="{{ previous_media.url }}.html">« previous</a>
        {% endif %}
        {% if next_media %}
        <a href="{{ next_media.url }}.html">next »</a>
        {% endif %}
      </p>
    </div>

  </div>
  {% endif %}
{% endblock %}
